body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  line-height: normal;
}

/* Typography */
h1 {
  font-size: 2rem;
  letter-spacing: -0.96px;
  line-height: 1.082;
  margin: 0;
}
p {
  font-weight: 400;
}

h1,
h2,
button,
.footer-p-heading,
strong {
  font-weight: 700;
}
.logo-text {
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.407px;
  margin-left: 0.5em;
}
.article-info {
  margin-bottom: 0.5em;
  font-size: 0.875rem;
}
.recent-article-posts-title {
  text-align: center;
}
.article-title {
  font-size: 1.5rem;
  line-height: 1.08;
  margin: 0.625em 0;
}
.article-body,
.footer-p-copyright {
  line-height: 1.25;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  display: block;
  width: 100%;
  text-align: center;
  background: #fff;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
/* layout */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.hero-article {
  width: 100%;
  height: 50vh;
  background-image: url("/images/hero-article-image.png");
  background-size: cover;
  height: 100vh;
  margin-bottom: 1.875em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}
.hero-article-content {
  margin: 0 0.625em 0.625em;
}
.article-main {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}
.article-post {
  margin-bottom: 2.5em;
}
.featured-article,
.about-me-article {
  margin-top: 1.875em;
}
.logo-img {
  width: 23px;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 1em;
}
.article-image {
  width: 100%;
  height: 232px;
  object-fit: cover;
}
.featured-article-img {
  min-width: 100%;
}
.about-me-image {
  width: 227px;
  border-radius: 50%;
}
/* navigation */
nav {
  margin-right: 1.25em;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}
nav li {
  margin-left: 1em;
}
nav a {
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
  color: #090909;
  font-weight: 600;
  font-size: 0.75em;
  line-height: normal;
}
/* footer */
footer {
  text-align: center;
  background: #202020;
  margin-top: 2.5em;
  padding: 1.875em 0;
}
.footer-p-heading,
.footer-p-copyright {
  font-size: 0.75rem;
}
.footer-p-heading {
  color: #ececec;
  margin: 0;
  line-height: 1.08;
  letter-spacing: -0.36px;
}

.footer-p-copyright {
  color: #d7d7d7;
  margin: 0;
}
/* Media queries */
@media (min-width: 675px) {
  .logo-text {
    font-size: 1.25rem;
    letter-spacing: -0.601px;
  }

  .hero-article-content {
    margin-bottom: 3.75em;
    margin-left: 3.125em;
  }
  .hero-article-body {
    font-size: 1.125rem;
  }
  .article-body-paragraphs,
  .featured-article-top {
    width: 80%;
    margin: 0 auto;
  }
  .featured-article-img {
    height: 450px;
  }
  .hero-article-info {
    font-size: 1rem;
  }
  .article-hero-heading {
    font-size: 2.5rem;
  }

  .hero-article-body {
    width: 50%;
  }
  /* nav */
  nav a {
    font-size: 1em;
  }
  /* /nav */
  .article-main {
    flex-direction: row;
    align-items: center;
  }
  .grid-articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.25em;
  }
  .recent-article-posts-title {
    grid-column: 1/-1;
  }
}
@media (min-width: 450px) {
  .hero-article {
    background: url("/images/blog-image-hero.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
}
